###### Custom #############################
.exclude

###### Gradle ##############################
build
.gradle

###### Idea ###############################
.idea
*.ipr
*.iws
*.iml

###### Android #############################
out/
local.properties

##### OS Specific ##########################
.DS_Store
Thumbs.db
